.slider-container{
    overflow: hidden;
    padding: 50px 0;
}

.slide-title{
    font-size: 30px;
    font-weight: 600;
}
.filter{
    filter: grayscale(85%);
}
.swiper-slide-active .filter{
    filter: grayscale(0%);
}
@media (max-width: 1400px) {
    .slide-title{
        font-size: 25px;
    }
}